body {
    background-color: rgb(255, 255, 255);
  }
/***  I got the code from my website project ***/
   nav {
        background-color: rgb(0, 0, 0);
        padding: 15px;
        padding-left: 4px;
         text-align: center;
      }
   header {
        background-color: rgb(89, 212, 78);
        color: rgb(0, 0, 0);
        padding: 15px;
        padding-left: 4px;
         text-align: center;
      }
  
      footer {
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 15px;
        padding-left: 4px;
      }
  
  h1{padding: 5px;
        padding-left: 1px;
        text-align: center;}
        
        nav a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin: 10px;
      }
  
       img {
        width: 100%;
        max-width: 600px;
        margin-top: 15px;
        border-radius: 8px;
      }
 
  
 
  /**** Kinda Useless for myimges but I will keep it just in case***/
   .smooth-square {
    border-radius: 35px;     
    object-fit: cover;        
    aspect-ratio: 1 / 1;   
    width: 100%;
    max-width: 600px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .smooth-square:hover {
    transform: scale(1.05);
    box-shadow: 10px 25px rgba(0, 0, 0, 0.15);
  }
/**** Using for my Images on Buy.html***/
.products {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;   /* Moves to next line if screen gets small */
    margin-top: 50px;
    
}

.product {
    text-align: center;
    width: 250px;
}
.product img {
    width: 500px;
    height: 500px;        
}


button.clear-button {
    background-color: red !important;
    color: white !important;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button.clear-button:hover {
    background-color: darkred !important;
}